.DS_Store
*.pyc
test.db
.vscode
*.wpr
.project
.pydevproject
.settings
*.egg-info
.coverage
docs/_build
build/
dist/
.webassets-cache
nosetests.xml
.sass-cache
instance/settings.py
instance/production.py
instance/development.py
baseframe-packed.css
baseframe-packed.js
error.log
packed.js
packed.css
eventframe/static/gen/
*.sql
*.sql.gz
*.sql.bz2
node_modules/
.pytest_cache
