include README.md
include requirements.txt
recursive-include eventframe/templates *
recursive-include eventframe/static *
recursive-include eventframe/themes-templates *
prune eventframe/static/.webassets-cache
