{% from "baseframe/components.html" import flash_messages, networkbar with context -%}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  {% block titletags -%}
  <title>{% block title %}{{ title }}{% endblock %} — {{ website.title }}</title>
  <meta name="DC.title" content="{{ self.title()|e }}"/>
  {%- endblock %}
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="author" href="/humans.txt">

  {% block favicon %}
  <link rel="icon" href="/favicon.ico"/>
  {% endblock %}

  <link rel="alternate" type="application/atom+xml"  title="{{ website.title }}" href="{{ url_for('feed') }}" />

  {#-
  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  #}

  <!-- Included CSS Files -->
  {% assets "css_baseframe" -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
  {% endassets -%}
  {% assets "css_" + _theme -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
  {% endassets -%}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600">
  <script src="{{ url_for('baseframe.static', filename='js/modernizr.min.js') }}"></script>

  {#-
  <!-- FIXME: This css/ie.css doesn't exist right now. -->

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="{{ url_for('baseframe.static', filename='css/ie.css') }}"/>
  <![endif]-->
  #}

  {%- if website.typekit_code %}
    <script type="text/javascript" src="//use.typekit.com/{{ website.typekit_code }}.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  {% endif -%}
  {% block pageheaders %}{% endblock %}
</head>
<body>
  <div id="root">
    <!-- headerbox -->
    {% block headerbox -%}
    <header>
      {% block networkbar %}{{ networkbar(siteid='events', login=config['LASTUSER_CLIENT_ID'] and true or false) }}{% endblock %}
      <div id="page-header" class="container">
        {% block logo -%}
          <div id="logo"><a href="{{ url_for('index') }}" title="Home">{{ website.title }}</a></div>
        {%- endblock %}
      </div>
      {% block header %}{% endblock %}
    </header>
    {%- endblock %}
    <!-- /headerbox -->

    {% block main -%}
    <div class="container">
      {%- block messages %}{{ flash_messages() }}{% endblock %}
      {%- block baseheadline %}{% endblock %}
      {%- block basecontent %}{% endblock %}
    </div>
    {%- endblock %}
    <!-- /container -->
    <div id="root_footer"></div>
  </div>
  <!-- /root -->
  {% block basefooter -%}
    <footer>
      <div class="footer-inner">
        <div class="container">
          {% block footer -%}
            <span class="no-print">Copyright &copy; 2010-12 HasGeek</span>
          {%- endblock %}
        </div>
      </div>
    </footer>
  {%- endblock %}

  <!-- Included JS Files -->
  {% assets "js_baseframe" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
  {% assets "js_" + _theme -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}

  {%- if website.googleanalytics_code and not config['DEBUG'] -%}
    <script type="text/javascript">
     var _gaq = [['_setAccount', '{{ website.googleanalytics_code }}'], ['_trackPageview']];
     (function(d, t) {
      var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      g.async = true;
      g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s);
     })(document, 'script');
    </script>
  {%- endif -%}

  {% block layoutscripts %}{% block footerscripts %}{% endblock %}{% endblock %}

  {%- if config['DEBUG'] %}
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  {% endif %}
</body>
</html>
