{% extends "layout.html.jinja2" %}

{% block title %}{{ node.title }}{% endblock %}
{% block description %}{{ node.description }}{% endblock %}

{% block content %}
{{ node.content }}
<ul id="funnel-listing" class="grid container-fluid">
  <li class="row-fluid header">
    <div class="span6">Title</div>
    <div class="span3">By</div>
    <div class="span1"><i class="icon-comments"></i></div>
    <div class="span1">+1</div>
    <div class="span1">Date</div>
  </li>
  {% for proposal in node.proposals() -%}
    <li class="row-fluid item">
      <div class="span6"><a target="_blank" href="{{ proposal['url'] }}" title="{{ proposal['title'] }}">{{ proposal['title'] }}</a></div>
      <div class="span3">{{ proposal['proposer'] }}</div>
      <div class="span1">{{ proposal['comments'] }}</div>
      <div class="span1">{{ proposal['votes'] }}</div>
      <div class="span1">{{ proposal['submitted']|shortdate }}</div>
    </li>
  {%- endfor %}
</ul>

{% endblock %}
