{% extends "layout.html.jinja2" %}
{% block titletags -%}
  <title>{% block title %}{{ website.title }}{% endblock %}</title>
  <meta name="DC.title" content="{{ website.title }}"/>
{%- endblock %}
{% block content %}{{ node.content }}{% endblock %}
