{% extends "layout.html" %}

{% block title %}{{ node.title }}{% endblock %}
{% block description %}{{ node.description }}{% endblock %}

{% block headline %}
  <div class="page-header">
    <h1>{{ self.title() }} <small>{{ node.published_at|longdate }}</h1>
  </div>
{% endblock %}
{% block content %}
{{ node.content }}
{% endblock %}
