{% extends "layout.html" %}
{% from "baseframe/forms.html" import renderform, ajaxform, richtext_editor %}
{% from "macros.html" import edit_tabs %}

{% block headline %}{% endblock %}
{% block content %}
  {{ edit_tabs(tabs, g.website, g.folder, form) }}
  {{ renderform(form=form, formid=formid, submit=submit, message=message, cancel_url=cancel_url, multipart=multipart) }}
{% endblock %}

{% block footerscripts %}
  {% for field in form -%}
    {% if field.widget.input_type == 'tinymce' -%}
      {{ richtext_editor(field) }}
    {%- endif %}
  {%- endfor %}
  {{ ajaxform(formid, request, ajax) }}
{% endblock %}
