{% extends "layout.html" %}
{% from "macros.html" import edit_tabs %}
{% block title %}Event attendees{% endblock %}
{% block headline %}{% endblock %}
{% block content %}
  {{ edit_tabs(tabs, g.website, g.folder) }}
  <p>
    <a href="{{ node.url_for('csv') }}" class="btn">Download CSV</a>
    <a href="{{ node.url_for('json') }}" class="btn">Download JSON</a>
    <a href="{{ node.url_for('update') }}" class="btn">Update details</a>
  </p>
  <ul class="grid container-fluid">
    <li class="row-fluid header">
      <div class="span1">#</div>
      <div class="span5">Name</div>
      <div class="span4">Email</div>
      <div class="span2">Status</div>
    </li>
    {% for attendee in attendees -%}
      <li class="row-fluid item item-hover">
        <div class="span1">{{ loop.index }}</div>
        <div class="span5">{% if attendee.user.fullname -%}
          {{ attendee.user.fullname }}
        {%- else -%}
          <em>(blank)</em>
        {%- endif %}</div>
        <div class="span4">{{ attendee.user.email }}</div>
        <div class="span2">{{ attendee.status }}</div>
      </li>
    {%- endfor %}
  </ul>
{% endblock %}
