{% from "baseframe/forms.html" import renderform_inner -%}
{% extends "layout.html" %}
{% block title %}{% if folder.name %}{{ folder.title or folder.name }} &mdash; {% endif %}{{ website.title }}{% endblock %}
{% block headline %}{% endblock %}
{% block content %}
<form class="unstyled" method="POST">
  <div id="folder-header" class="row">
    <div class="span6">
      <div class="btn-toolbar">
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-plus"></i> New <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for ntype in node_registry.values() %}
              <li><a href="{{ url_for('node_new', website=website.name, folder=folder.name, type=ntype.name) }}">{{ ntype.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="btn-group">
          {% if folder.name == '' -%}
            <a class="btn" href="{{ url_for('website_edit', website=website.name) }}"><i class="icon-pencil"></i> Settings</a>
          {%- else -%}
            <a class="btn" href="{{ url_for('folder_edit', website=website.name, folder=folder.name) }}"><i class="icon-pencil"></i></a>
            <a class="btn" href="{{ url_for('folder_delete', website=website.name, folder=folder.name) }}" title="Delete folder"><i class="icon-trash"></i></a>
          {%- endif %}
          <a class="btn" href="{{ url_for('folder_export', website=website.name, folder=folder.name) }}" title="Export"><i class="icon-download-alt"></i></a>
          <a class="btn" href="#import-modal" title="Import" data-toggle="modal"><i class="icon-upload-alt"></i></a>
          <a class="btn" href="{{ folder.url_for('view') }}"target="_blank"><i class="icon-eye-open"></i> View</a>
        </div>
        <div class="select-toolbar btn-group hidden">
          {#<button class="btn btn-info" name="action" value="rename" type="submit"><i class="icon-pencil"></i> Rename</button>-#}
          <button class="btn btn-info" name="action" value="delete" type="submit" title="Delete selected" id="select-delete"><i class="icon-trash"></i> Delete</button>
        </div>
        {%- if session['clipboard'] %}
          <div class="select-toolbar btn-group hidden">
            <button class="btn btn-info" name="action" value="cut" type="submit" title="Cut"><i class="icon-cut"></i></button>
            <button class="btn btn-info" name="action" value="copy" type="submit" title="Copy"><i class="icon-copy"></i></button>
            <button class="btn btn-info" name="action" value="paste" type="submit"><i class="icon-paste"></i> Paste</button>
          </div>
          <div class="not-select-toolbar btn-group">
            <button class="btn btn-info" name="action" value="paste" type="submit"><i class="icon-paste"></i> Paste</button>
          </div>
        {%- else %}
          <div class="select-toolbar btn-group hidden">
            <button class="btn btn-info" name="action" value="cut" type="submit"><i class="icon-cut"></i> Cut</button>
            <button class="btn btn-info" name="action" value="copy" type="submit"><i class="icon-copy"></i> Copy</button>
          </div>
        {%- endif %}
      </div>
    </div>
    <div class="span4">
      <ul id="type-filter" class="nav nav-pills pull-right">
        <li class="active"><a data-type="" href="">All</a></li>
        {%- for ntype in node_registry.values()[:2] %}
          <li><a data-type="{{ ntype.name }}" href="">{{ ntype.title }}</a></li>
        {%- endfor %}
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">More <b class="caret"></b></a>
          <ul class="dropdown-menu dropdown-right">
            {%- for ntype in node_registry.values()[2:] %}
              <li><a data-type="{{ ntype.name }}" href="">{{ ntype.title }}</a></li>
            {%- endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <ul id="folder-listing-header" class="grid container-fluid">
    <li class="row-fluid header shadow-bottom">
      <div class="span3"><input type="checkbox" id="select-header"> Name</div>
      <div class="span3">Title</div>
      <div class="span2">User</div>
      <div class="span2">Type</div>
      <div class="span2">Date</div>
    </li>
  </ul>
  <ul id="folder-listing" class="grid container-fluid">
    {% for node in folder.nodes -%}
      <li class="row-fluid item not-filtered
          {%- if node.uuid in highlight %} highlight {%- endif -%}
          {%- if node.uuid in cutlist %} cutnode {%- endif -%}" data-type="{{ node.type }}" data-nodeid="{{ node.uuid }}">
        <div class="span3"><input type="checkbox" name="nodeid" value="{{ node.uuid }}"> <a href="{{
            url_for('node_edit', website=website.name, folder=folder.name, node=node.name)
            }}" title="{{ node.name or '(index)' }}">{{ node.name or '(index)' }}</a></div>
        <div class="span3"><a href="{{
            url_for('node_edit', website=website.name, folder=folder.name, node=node.name)
            }}" title="{{ node.title }}" class="node-title">{{ node.title }}</a></div>
        <div class="span2">{{ node.user.fullname }}</div>
        <div class="span2">{{ node.__title__ }}</div>
        <div class="span2">{{ node.published_at|longdate }}</div>
      </li>
    {%- endfor %}
  </ul>
</form>

<div class="modal hide" id="import-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Import to folder</h3>
  </div>
  <form id="importform" method="POST" action="{{
      url_for('folder_import', website=website.name, folder=folder.name)
      }}" enctype="multipart/form-data" accept-charset="UTF-8" class="unstyled">
    <div class="modal-body">
      {{ renderform_inner(importform, "importform") }}
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <button type="submit" class="btn btn-primary">Import</button>
    </div>
  </form>
</div>

<div class="modal hide" id="delete-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Delete?</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a href="#" class="btn btn-danger" id="confirm-delete">Delete</a>
  </div>
</div>

{% endblock %}
{% block footerscripts %}
<script type="text/javascript">
  $(function() {
    var checkboxfix = function() {
      if ($('.not-filtered input[name="nodeid"]:checked').length) {
        if ($('.not-filtered input[name="nodeid"]:not(:checked)').length) {
          $("#select-header").prop('indeterminate', true);
          $(".select-toolbar").removeClass('hidden');
          $(".not-select-toolbar").addClass('hidden');
        } else {
          $("#select-header").prop('indeterminate', false);
          $("#select-header").attr('checked', 'checked');
          $(".select-toolbar").removeClass('hidden');
          $(".not-select-toolbar").addClass('hidden');
        };
      } else {
        $("#select-header").prop('indeterminate', false);
        $("#select-header").removeAttr('checked');
        $(".select-toolbar").addClass('hidden');
        $(".not-select-toolbar").removeClass('hidden');
      };
    };

    $("#type-filter a[data-type]").click(function(e){
      $("#type-filter .active").removeClass('active');
      $(this).closest('li').addClass('active');

      var type = $(this).attr('data-type');
      if (type == '') {
        $('#folder-listing li.item').slideDown('fast').addClass('not-filtered');
      } else {
        $('#folder-listing li.item').not('[data-type="' + type + '"]').slideUp('fast').removeClass('not-filtered');
        $('#folder-listing li.item[data-type="' + type + '"]').slideDown('fast').addClass('not-filtered');
      };
      checkboxfix();
      e.preventDefault();
    });

    $("#select-header").click(function() {
      if ($(this).is(':checked')) {
        $('.not-filtered input[name="nodeid"]').attr('checked', 'checked');
        $(".select-toolbar").removeClass('hidden');
        $(".not-select-toolbar").addClass('hidden');
      } else {
        $('.not-filtered input[name="nodeid"]').removeAttr('checked');
        $(".select-toolbar").addClass('hidden');
        $(".not-select-toolbar").removeClass('hidden');
      };
    });
    $("input[name='nodeid']").click(checkboxfix);

    $("#select-delete").on('click.delete-confirm', function(e) {
      var modal = $("#delete-modal"),
          checked = $('input[name="nodeid"]:checked'),
          count = checked.length;
      if (count == 1) {
        var nodeid = checked.attr('value'),
            title = $('[data-nodeid="' + nodeid + '"]').find('.node-title').html();
        modal.find(".modal-body").html('<p>Really delete “' + title + '”?');
      } else {
        modal.find(".modal-body").html('<p>Really delete ' + count + ' items?</p>');
      }
      modal.modal();
      e.preventDefault();
      e.stopPropagation();
      return false;
    });
    $("#confirm-delete").click(function() {
      $("#delete-modal").modal('hide');
      $("#select-delete").off('click.delete-confirm').click();
    });
  });
</script>
{% endblock %}
