{% from "baseframe/forms.html" import renderform_inner -%}
{% extends "layout.html" %}
{% block title %}{% if folder.name %}{{ folder.name }} &mdash; {% endif %}{{ website.title }}{% endblock %}
{% block headline %}{% endblock %}
{% block content %}
<div class="row">
  <div class="span2">
    <ul class="nav nav-pills nav-stacked">
      {#<li class="nav-header">Folders</li>#}
      {% for f in website.folders %}
        <li {%- if f == folder %} class="active"{% endif %}><a href="{{ url_for('folder', website=website.name, folder=f.name) }}"><i class="icon-folder-{% if f == folder %}open{% else %}close{% endif %}"></i> /{{ f.name }}</a></li>
      {% endfor %}
      <li class="divider"></li>
      <li><a href="{{ url_for('folder_new', website=website.name) }}"><i class="icon-plus"></i> Add folder...</a></li>
    </ul>
  </div>
  <div class="span10">
    <div class="row">
      <div class="span6">
        <div class="page-header">
          <h1>{{ self.title() }}</h1>
        </div>
      </div>
      <div class="span4">
        <ul id="type-filter" class="nav nav-pills pull-right">
          <li class="active"><a data-type="" href="">All</a></li>
          {% for ntype in node_registry.values()[:2] -%}
            <li><a data-type="{{ ntype.name }}" href="">{{ ntype.title }}</a></li>
          {%- endfor %}
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">More <b class="caret"></b></a>
            <ul class="dropdown-menu dropdown-right">
              {% for ntype in node_registry.values()[2:] -%}
                <li><a data-type="{{ ntype.name }}" href="">{{ ntype.title }}</a></li>
              {%- endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="btn-toolbar">
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-plus"></i> New <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for ntype in node_registry.values() %}
            <li><a href="{{ url_for('node_new', website=website.name, folder=folder.name, type=ntype.name) }}">{{ ntype.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="btn-group">
        {% if folder.name == '' -%}
          <a class="btn" href="{{ url_for('website_edit', website=website.name) }}"><i class="icon-pencil"></i> Settings</a>
        {%- else -%}
          <a class="btn" href="{{ url_for('folder_edit', website=website.name, folder=folder.name) }}"><i class="icon-pencil"></i> Edit folder</a>
          <a class="btn" href="{{ url_for('folder_delete', website=website.name, folder=folder.name) }}"><i class="icon-trash"></i> Delete</a>
        {%- endif %}
          <a class="btn" href="{{ url_for('folder_export', website=website.name, folder=folder.name) }}"><i class="icon-download-alt"></i> Export</a>
          <a class="btn" href="#import-modal" data-toggle="modal"><i class="icon-upload-alt"></i> Import</a>
      </div>
    </div>

    <ul id="folder-listing" class="grid container-fluid">
      <li class="row-fluid header">
        <div class="span2">Name</div>
        <div class="span4">Title</div>
        <div class="span2">User</div>
        <div class="span2">Type</div>
        <div class="span2">Published</div>
      </li>
      {% for node in folder.nodes -%}
        {% with -%}
          <li class="row-fluid item" data-type="{{ node.type }}">
            <div class="span2"><a href="{{
                url_for('node_edit', website=website.name, folder=folder.name, node=node.name)
                }}" title="{{ node.name or '(index)' }}">{{ node.name or '(index)' }}</a></div>
            <div class="span4"><a href="{{
                url_for('node_edit', website=website.name, folder=folder.name, node=node.name)
                }}" title="{{ node.title }}">{{ node.title }}</a></div>
            <div class="span2">{{ node.user.fullname }}</div>
            <div class="span2">{{ node.__title__ }}</div>
            <div class="span2">{{ node.published_at|longdate }}</div>
          </li>
        {%- endwith %}
      {%- endfor %}
    </ul>
  </div>
</div>

<div class="modal hide" id="import-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Import to folder</h3>
  </div>
  <form id="importform" method="POST" action="{{
      url_for('folder_import', website=website.name, folder=folder.name)
      }}" enctype="multipart/form-data" accept-charset="UTF-8" class="unstyled">
    <div class="modal-body">
      {{ renderform_inner(importform, "importform") }}
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <button type="submit" class="btn btn-primary">Import</button>
    </div>
  </form>
</div>
{% endblock %}
{% block footerscripts %}
<script type="text/javascript">
  $(function() {
    $("#type-filter a[data-type]").click(function(e){
      $("#type-filter .active").removeClass('active');
      $(this).closest('li').addClass('active');

      var type = $(this).attr('data-type');
      if (type == '') {
        $('#folder-listing li.item').slideDown('fast');
      } else {
        $('#folder-listing li.item').not('[data-type="' + type + '"]').slideUp('fast');
        $('#folder-listing li.item[data-type="' + type + '"]').slideDown('fast');
      };
      e.preventDefault();
    });
  });
</script>
{% endblock %}
