{% extends "baseframe.html" -%}

{% block headerbox -%}
<header>
  {{ networkbar(siteid='events', login=true) }}
  <div id="page-header" class="container{% if not folder %} shadow-bottom{% endif %}">
    <h1>
      <a href="{{ url_for('index') }}" class="no-print" title="Home"><i class="icon-home"></i></a>
      {%- if g.website %} <span class="no-print">&mdash;</span> <a href="{{ url_for('website', website=g.website.name) }}">{{ g.website.title }}</a>{% endif %}
      {%- if g.folder and g.folder.name != '' %} &mdash; <a href="{{ url_for('folder', website=g.website.name, folder=g.folder.name) }}">{{ g.folder.title or g.folder.name }}</a>{% endif %}
      {%- if node %} &mdash; {{ node.title }}{% endif %}
    </h1>
  </div>
</header>
{%- endblock %}

{% block messages %}{% endblock %}
{% block baseheadline -%}
{%- endblock %}

{% block basecontent -%}
  <div class="row">
    <div class="span2 no-print">
      <div id="folder-column">
        {% if websites %}
          <ul class="nav nav-pills nav-stacked">
            {%- if admin %}
              {%- for website in websites %}
                <li><a href="{{ website.url_for('list') }}">{{ website.title }}</a></li>
              {%- endfor %}
            {%- else %}
              {%- for website in websites %}
                <li><a href="{{ website.url }}">{{ website.title }}</a></li>
              {%- endfor %}
            {%- endif %}
          </ul>
        {% elif g.website %}
          <ul class="nav nav-pills nav-stacked">
            {% for f in g.website.folders %}
              <li {%- if f == g.folder %} class="active"{% endif %}><a href="{{ url_for('folder', website=g.website.name, folder=f.name) }}"><i class="icon-folder-{% if f == g.folder %}open{% else %}close{% endif %}"></i> /{{ f.name }}</a></li>
            {% endfor %}
            <li class="divider"></li>
            <li><a href="{{ url_for('folder_new', website=g.website.name) }}"><i class="icon-plus"></i> Add folder...</a></li>
          </ul>
        {% endif %}
      </div>
      &nbsp;
    </div>
    <div class="span10 print-span12">
      {% block headline -%}
        <div class="page-header">
          <h1>{{ self.title() }}</h1>
        </div>
      {%- endblock %}
      {% block content %}{% endblock %}
    </div>
  </div>
{%- endblock %}

{%- block layoutscripts %}
  {%- with messages = get_flashed_messages(with_categories=true) %}
    {%- if messages -%}
      <script type="text/javascript">
        {%- for category, message in messages %}
          {%- if category in ['error', 'info', 'success', 'warning'] %}
            toastr.{{ category }}("{{ message }}");
          {%- else %}
            toastr.info("{{ message }}");
          {%- endif %}
        {%- endfor %}
      </script>
    {%- endif %}
  {%- endwith %}

  {% block footerscripts %}{% endblock %}
{%- endblock %}
