{% extends "layout.html" %}
{% from "macros.html" import edit_tabs %}

{% block headline %}{% endblock %}
{% block content %}
  {{ edit_tabs(tabs, g.website, g.folder) }}
  <pre>{% for line in stream -%}
    {{ line }}
  {%- endfor %}</pre>
{% endblock %}
