// Insert app styles here

@import "compass";

header #page-header h1 {
    margin-top: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

#folder-header {
    .btn-toolbar {
        margin-top: 0;
        margin-bottom: 0;
    }
    .nav {
        margin-bottom: 0;
    }
}

.shadow-bottom {
    @include box-shadow(0 4px 5px -4px rgba(0, 0, 0, 0.15));
}

@media screen and (min-width: 768px) {
    header, #folder-column, #folder-header {
        background: white;
        position: fixed;
        z-index: 2;
    }

    header {
        left: 0;
        top: 0;
        right: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        z-index: 3;
    }

    header + .container {
        padding-top: 80px;
    }

    #folder-column, #folder-header, #edit-tabs {
        padding-top: 11px;
    }

    #folder-column {
        width: 104px;
    }

    #folder-listing-header {
        padding-top: 44px;
        position: fixed;
        background: white;
        z-index: 1;
        width: 600px;
        & + .item {
            margin-top: 43px;
        }
    }
    #folder-listing {
        padding-top: 87px;
    }
}

@media screen and (min-width: 980px) {
    #folder-column {
        width: 140px;
    }

    #folder-listing-header {
        width: 780px;
    }
}

@media screen and (min-width: 1200px) {
    #folder-column {
        width: 170px;
    }

    #folder-listing-header {
        width: 970px;
    }
}
